# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.venv/
venv/
.env
.envrc
*.sqlite3

# Django
static/
media/
*.log

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Helm
charts/**/charts/
charts/**/tmp/
charts/**/templates/*.bak

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Docker
*.tar
